name: flutter_appcare
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.16.2 <3.0.0"


dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.2
  intl: ^0.17.0
  http: ^0.13.4
  shared_preferences: ^2.0.13
  google_maps_flutter: ^2.1.3
  geolocator: ^8.2.0
  geolocator_web: ^2.1.4
  geocoding: ^2.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/



 
